In [ ]:
import pandas as pd
import numpy as np 
import matplotlib as pl
import seaborn as sns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

# explore data

In [ ]:
df=pd.read_csv("egypt_real_estate_listings.csv")
df.head()

,url,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment
0,https://www.propertyfinder.eg/en/plp/buy/chale...,"8,000,000",OWN A CHALET IN EL GOUNA WITH A PRIME LOCATION...,"Swan Lake Gouna, Al Gouna, Hurghada, Red Sea",Chalet,732 sqft / 68 sqm,1+ Maid,1,31 Aug 2025,Cash,"1,200,000 EGP"
1,https://www.propertyfinder.eg/en/plp/buy/villa...,"25,000,000","For sale, a villa with immediate delivery in C...","Karmell, New Zayed City, Sheikh Zayed City, Giza",Villa,"2,368 sqft / 220 sqm",4,4,2 Sep 2025,Cash,"2,100,000 EGP"
2,https://www.propertyfinder.eg/en/plp/buy/chale...,"15,135,000","With a down payment of EGP 1,513,000, a fully ...","Azha North, Ras Al Hekma, North Coast",Chalet,"1,270 sqft / 118 sqm",2,2,19 Aug 2025,Cash,"1,513,000 EGP"
3,https://www.propertyfinder.eg/en/plp/buy/apart...,"12,652,000",Own an apartment in New Cairo with a minimal d...,"Taj City, 5th Settlement Compounds, The 5th Se...",Apartment,"1,787 sqft / 166 sqm",3,2,26 Aug 2025,Installments,"1,260,000 EGP"
4,https://www.propertyfinder.eg/en/plp/buy/villa...,"45,250,000",Project: Granville\nLocation: Fifth Settlement...,"Granville, New Capital City, Cairo",Villa,"4,306 sqft / 400 sqm",7,7,2 Sep 2025,Cash,"2,262,500 EGP"

In [ ]:
df.isnull().sum()

url                   0
price               539
description          78
location             91
type                 77
size                 77
bedrooms            144
bathrooms           140
available_from      663
payment_method      541
down_payment      14479
dtype: int64

In [ ]:
null_price_rows = df[df['payment_method'].isnull()]
null_price_rows.head(10)

,url,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment
7945,https://www.propertyfinder.eg/en/plp/buy/chale...,NaN,"Silver Sands in Sidi Heneish, North Coast is a...","Silver Sands, Qesm Marsa Matrouh, North Coast",Chalet,"3,025 sqft / 281 sqm",4+ Maid,3,7 Aug 2025,NaN,NaN
7948,https://www.propertyfinder.eg/en/plp/buy/penth...,NaN,A Penthouse with a Panoramic View in The Fifth...,"Moon Residences, Fifth Square, The 5th Settlem...",Penthouse,"2,034 sqft / 189 sqm",3,4,31 Aug 2025,NaN,NaN
7954,https://www.propertyfinder.eg/en/plp/buy/villa...,NaN,Resale Standalone in allegria with largest are...,"Allegria, Sheikh Zayed Compounds, Sheikh Zayed...",Villa,"7,858 sqft / 730 sqm",6+ Maid,7+,28 Aug 2025,NaN,NaN
7975,https://www.propertyfinder.eg/en/plp/buy/villa...,NaN,Villa for Sale in Marsa Baghush\n• Built-up ar...,"Marsa Baghush, Qesm Marsa Matrouh, North Coast",Villa,"3,337 sqft / 310 sqm",4+ Maid,5,31 Aug 2025,NaN,NaN
7996,https://www.propertyfinder.eg/en/plp/buy/villa...,NaN,- فيلا للبيع 350م توين هاوس قرية لازوردي الكيل...,"Lazorde Bay, Sidi Abdel Rahman, North Coast",Villa,"3,767 sqft / 350 sqm",5,4,8 May 2025,NaN,NaN
8011,https://www.propertyfinder.eg/en/plp/buy/villa...,NaN,Villa for sale\nSheikh Zayed Etapa Compound\n-...,"Etapa, Sheikh Zayed Compounds, Sheikh Zayed Ci...",Villa,"2,680 sqft / 249 sqm",4+ Maid,4,13 Jul 2025,NaN,NaN
8029,https://www.propertyfinder.eg/en/plp/buy/villa...,NaN,A rare opportunity to own a luxurious standalo...,"Hacienda Bay, Sidi Abdel Rahman, North Coast",Villa,"4,951 sqft / 460 sqm",5+ Maid,7,4 Aug 2025,NaN,NaN
8043,https://www.propertyfinder.eg/en/plp/buy/townh...,NaN,تاون هاوس الترا لوكس كمبوند بالم باركس بالم هي...,"Palm Parks Palm Hills, South Dahshur Link, 6...",Townhouse,"2,799 sqft / 260 sqm",4+ Maid,5,22 Aug 2025,NaN,NaN
8141,https://www.propertyfinder.eg/en/plp/buy/apart...,NaN,Apartment with garden for sale\nDistrict 5 - F...,"District 5, 5th Settlement Compounds, The 5th ...",Apartment,"1,604 sqft / 149 sqm",2+ Maid,3,19 Aug 2025,NaN,NaN
8175,https://www.propertyfinder.eg/en/plp/buy/chale...,NaN,Chalet for Sale – Fully Finished with Kitchen ...,"Seazen, Qesm Ad Dabaah, North Coast",Chalet,"1,507 sqft / 140 sqm",3,3,31 Aug 2025,NaN,NaN

In [ ]:
filtered_rows = df[df['payment_method'].isnull() & df['price'].notnull()]
filtered_rows.head(10)

,url,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment
14097,https://www.propertyfinder.eg/en/plp/buy/chale...,"16,495,000",Azha north coast\nSenior upper chalet\nPhase v...,"Azha North, Ras Al Hekma, North Coast",Chalet,"1,938 sqft / 180 sqm",4+ Maid,6,13 Mar 2025,NaN,NaN
15659,https://www.propertyfinder.eg/en/plp/buy/villa...,"155,000,000",Sodic Ogami – One-Story Villa\nLand: 748 sqm\n...,"Ogami, Ras Al Hekma, North Coast",Villa,"3,821 sqft / 355 sqm",4+ Maid,4,10 Nov 2024,NaN,NaN

In [ ]:
df["type"].value_counts()

type
Apartment          8355
Chalet             4038
Villa              3570
Townhouse          1335
Twin House          834
Duplex              622
Penthouse           569
iVilla              268
Hotel Apartment     104
Land                 63
Cabin                38
Palace               23
Whole Building       14
Roof                  6
Full Floor            4
Bulk Sale Unit        3
Bungalow              1
Name: count, dtype: int64

In [ ]:
df["payment_method"].value_counts()

payment_method
Cash            15521
Installments     3862
Name: count, dtype: int64

In [ ]:
df.drop("url",axis=1)

,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment
0,"8,000,000",OWN A CHALET IN EL GOUNA WITH A PRIME LOCATION...,"Swan Lake Gouna, Al Gouna, Hurghada, Red Sea",Chalet,732 sqft / 68 sqm,1+ Maid,1,31 Aug 2025,Cash,"1,200,000 EGP"
1,"25,000,000","For sale, a villa with immediate delivery in C...","Karmell, New Zayed City, Sheikh Zayed City, Giza",Villa,"2,368 sqft / 220 sqm",4,4,2 Sep 2025,Cash,"2,100,000 EGP"
2,"15,135,000","With a down payment of EGP 1,513,000, a fully ...","Azha North, Ras Al Hekma, North Coast",Chalet,"1,270 sqft / 118 sqm",2,2,19 Aug 2025,Cash,"1,513,000 EGP"
3,"12,652,000",Own an apartment in New Cairo with a minimal d...,"Taj City, 5th Settlement Compounds, The 5th Se...",Apartment,"1,787 sqft / 166 sqm",3,2,26 Aug 2025,Installments,"1,260,000 EGP"
4,"45,250,000",Project: Granville\nLocation: Fifth Settlement...,"Granville, New Capital City, Cairo",Villa,"4,306 sqft / 400 sqm",7,7,2 Sep 2025,Cash,"2,262,500 EGP"
...,...,...,...,...,...,...,...,...,...,...
19919,"10,500,000",Code: 2404\nChalet for sale in North Edge Towe...,"North Edge Towers, New Alamein City, Al Alamei...",Chalet,"1,259 sqft / 117 sqm",2,2,21 Aug 2025,Cash,NaN
19920,"24,000,000",Duplex for sale in Eastown -Sodic\n5th settlem...,"Eastown, 5th Settlement Compounds, The 5th Set...",Duplex,"2,756 sqft / 256 sqm",3+ Maid,4,1 Sep 2025,Cash,NaN
19921,"3,000,000",Chalet for Sale in One of the Prime Projects o...,"White Sand, Markaz Al Hamam, North Coast",Chalet,"1,195 sqft / 111 sqm",2,2,30 Jul 2025,Cash,NaN
19922,"9,500,000",Villa for sale in installments in Sarai Compou...,"Sarai, Mostakbal City Compounds, Mostakbal Cit...",Villa,"2,573 sqft / 239 sqm",5,4,23 Aug 2025,Cash,NaN
19923,"7,500,000",Ground Chalet with Garden in Mountain View Nor...,"Mountain View, Qesm Ad Dabaah, North Coast",Chalet,990 sqft / 92 sqm,2,2,21 Aug 2025,Cash,NaN

# preprocessing

In [ ]:
# seprate messurment unite from numbers on size columns

def extract_size(val):
    if pd.isnull(val):
        return pd.Series([None, None, None, None])
    try:
        parts = val.split('/')  # split by '/'
        sqft_part = parts[0].strip()  # e.g., '3,025 sqft'
        sqm_part = parts[1].strip()   # e.g., '281 sqm'
        
        sqft_num = float(sqft_part.replace('sqft','').replace(',','').strip())
        sqm_num = float(sqm_part.replace('sqm','').replace(',','').strip())
        
        return pd.Series([sqft_num, 'sqft', sqm_num, 'sqm'])
    except:
        return pd.Series([None, None, None, None])

# Apply function
df[['size_sqft', 'unit_sqft', 'size_sqm', 'unit_sqm']] = df['size'].apply(extract_size)

df

,url,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment,size_sqft,unit_sqft,size_sqm,unit_sqm
0,https://www.propertyfinder.eg/en/plp/buy/chale...,"8,000,000",OWN A CHALET IN EL GOUNA WITH A PRIME LOCATION...,"Swan Lake Gouna, Al Gouna, Hurghada, Red Sea",Chalet,732 sqft / 68 sqm,1+ Maid,1,31 Aug 2025,Cash,"1,200,000 EGP",732.0,sqft,68.0,sqm
1,https://www.propertyfinder.eg/en/plp/buy/villa...,"25,000,000","For sale, a villa with immediate delivery in C...","Karmell, New Zayed City, Sheikh Zayed City, Giza",Villa,"2,368 sqft / 220 sqm",4,4,2 Sep 2025,Cash,"2,100,000 EGP",2368.0,sqft,220.0,sqm
2,https://www.propertyfinder.eg/en/plp/buy/chale...,"15,135,000","With a down payment of EGP 1,513,000, a fully ...","Azha North, Ras Al Hekma, North Coast",Chalet,"1,270 sqft / 118 sqm",2,2,19 Aug 2025,Cash,"1,513,000 EGP",1270.0,sqft,118.0,sqm
3,https://www.propertyfinder.eg/en/plp/buy/apart...,"12,652,000",Own an apartment in New Cairo with a minimal d...,"Taj City, 5th Settlement Compounds, The 5th Se...",Apartment,"1,787 sqft / 166 sqm",3,2,26 Aug 2025,Installments,"1,260,000 EGP",1787.0,sqft,166.0,sqm
4,https://www.propertyfinder.eg/en/plp/buy/villa...,"45,250,000",Project: Granville\nLocation: Fifth Settlement...,"Granville, New Capital City, Cairo",Villa,"4,306 sqft / 400 sqm",7,7,2 Sep 2025,Cash,"2,262,500 EGP",4306.0,sqft,400.0,sqm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19919,https://www.propertyfinder.eg/en/plp/buy/chale...,"10,500,000",Code: 2404\nChalet for sale in North Edge Towe...,"North Edge Towers, New Alamein City, Al Alamei...",Chalet,"1,259 sqft / 117 sqm",2,2,21 Aug 2025,Cash,NaN,1259.0,sqft,117.0,sqm
19920,https://www.propertyfinder.eg/en/plp/buy/duple...,"24,000,000",Duplex for sale in Eastown -Sodic\n5th settlem...,"Eastown, 5th Settlement Compounds, The 5th Set...",Duplex,"2,756 sqft / 256 sqm",3+ Maid,4,1 Sep 2025,Cash,NaN,2756.0,sqft,256.0,sqm
19921,https://www.propertyfinder.eg/en/plp/buy/chale...,"3,000,000",Chalet for Sale in One of the Prime Projects o...,"White Sand, Markaz Al Hamam, North Coast",Chalet,"1,195 sqft / 111 sqm",2,2,30 Jul 2025,Cash,NaN,1195.0,sqft,111.0,sqm
19922,https://www.propertyfinder.eg/en/plp/buy/villa...,"9,500,000",Villa for sale in installments in Sarai Compou...,"Sarai, Mostakbal City Compounds, Mostakbal Cit...",Villa,"2,573 sqft / 239 sqm",5,4,23 Aug 2025,Cash,NaN,2573.0,sqft,239.0,sqm
19923,https://www.propertyfinder.eg/en/plp/buy/chale...,"7,500,000",Ground Chalet with Garden in Mountain View Nor...,"Mountain View, Qesm Ad Dabaah, North Coast",Chalet,990 sqft / 92 sqm,2,2,21 Aug 2025,Cash,NaN,990.0,sqft,92.0,sqm

In [ ]:
df['bathrooms'] = df['bathrooms'].str.replace('+','', regex=False)
df['bathrooms'] = pd.to_numeric(df['bathrooms'], errors='coerce')  # converts invalid to NaN

In [ ]:
df["bedrooms"].value_counts()

bedrooms
3               4959
3+ Maid         3737
2               2849
4+ Maid         2126
2+ Maid         1748
4               1126
5+ Maid          786
1                751
1+ Maid          447
5                325
studio           280
6+ Maid          254
7+ Maid          128
6                 93
7++ Maid          67
studio+ Maid      48
7                 33
7+                23
Name: count, dtype: int64

In [ ]:
"""
i convert studio to 0 and seprate mid and mapping it 0 if bedrooms don't have mid 1 if it have
"""
def clean_bedrooms(val):
    if pd.isnull(val):
        return pd.Series([0, 0])   # bedrooms, mid_room
    
    val = str(val).lower().strip()

    # Check for 'mid' or 'maid'
    mid_room = 1 if 'mid' in val or 'maid' in val else 0

    # Replace 'studio' with 0
    if 'studio' in val:
        bedrooms = 0
    else:
        # Keep only digits
        cleaned = ''.join(ch for ch in val if ch.isdigit())
        bedrooms = int(cleaned) if cleaned else 0

    return pd.Series([bedrooms, mid_room])

# Apply the function
df[['bedrooms', 'mid_room']] = df['bedrooms'].apply(clean_bedrooms)

df.head()

,url,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment,size_sqft,unit_sqft,size_sqm,unit_sqm,mid_room
0,https://www.propertyfinder.eg/en/plp/buy/chale...,"8,000,000",OWN A CHALET IN EL GOUNA WITH A PRIME LOCATION...,"Swan Lake Gouna, Al Gouna, Hurghada, Red Sea",Chalet,732 sqft / 68 sqm,1,1.0,31 Aug 2025,Cash,"1,200,000 EGP",732.0,sqft,68.0,sqm,1
1,https://www.propertyfinder.eg/en/plp/buy/villa...,"25,000,000","For sale, a villa with immediate delivery in C...","Karmell, New Zayed City, Sheikh Zayed City, Giza",Villa,"2,368 sqft / 220 sqm",4,4.0,2 Sep 2025,Cash,"2,100,000 EGP",2368.0,sqft,220.0,sqm,0
2,https://www.propertyfinder.eg/en/plp/buy/chale...,"15,135,000","With a down payment of EGP 1,513,000, a fully ...","Azha North, Ras Al Hekma, North Coast",Chalet,"1,270 sqft / 118 sqm",2,2.0,19 Aug 2025,Cash,"1,513,000 EGP",1270.0,sqft,118.0,sqm,0
3,https://www.propertyfinder.eg/en/plp/buy/apart...,"12,652,000",Own an apartment in New Cairo with a minimal d...,"Taj City, 5th Settlement Compounds, The 5th Se...",Apartment,"1,787 sqft / 166 sqm",3,2.0,26 Aug 2025,Installments,"1,260,000 EGP",1787.0,sqft,166.0,sqm,0
4,https://www.propertyfinder.eg/en/plp/buy/villa...,"45,250,000",Project: Granville\nLocation: Fifth Settlement...,"Granville, New Capital City, Cairo",Villa,"4,306 sqft / 400 sqm",7,7.0,2 Sep 2025,Cash,"2,262,500 EGP",4306.0,sqft,400.0,sqm,0

In [ ]:
## Filter only studio rows
studio_mid = df[(df['bedrooms'] == 0) & (df['mid_room'] == 1)]

studio_mid.head(10)

,url,price,description,location,type,size,bedrooms,bathrooms,available_from,payment_method,down_payment,size_sqft,unit_sqft,size_sqm,unit_sqm,mid_room
351,https://www.propertyfinder.eg/en/plp/buy/apart...,"6,236,505",Unit Type: Studio\n1 Bedroom\nBuilt Up Area: 4...,"Mangroovy Residence, Al Gouna, Hurghada, Red Sea",Apartment,495 sqft / 46 sqm,0,1.0,31 Aug 2025,Cash,"3,000,000 EGP",495.0,sqft,46.0,sqm,1
974,https://www.propertyfinder.eg/en/plp/buy/chale...,"10,185,000",_ PROJECT NAME :GOUNA\n_ DEVELOPER NAME : ORAS...,"Swan Lake Gouna, Al Gouna, Hurghada, Red Sea",Chalet,743 sqft / 69 sqm,0,1.0,1 Sep 2025,Cash,"4,734,000 EGP",743.0,sqft,69.0,sqm,1
1063,https://www.propertyfinder.eg/en/plp/buy/apart...,"9,100,000",finished studio for sale in zayed city by Ora ...,"Village Views, Zed Towers, Sheikh Zayed Compou...",Apartment,775 sqft / 72 sqm,0,1.0,2 Sep 2025,Installments,NaN,775.0,sqft,72.0,sqm,1
1367,https://www.propertyfinder.eg/en/plp/buy/chale...,"2,450,000",شاليه فندقي 30م مفروش بالكامل بإطلالة بحر\nامت...,"Glee, Qesm Borg El Arab, North Coast",Chalet,323 sqft / 30 sqm,0,1.0,31 Aug 2025,Cash,"122,500 EGP",323.0,sqft,30.0,sqm,1
1378,https://www.propertyfinder.eg/en/plp/buy/apart...,"2,000,000","In Cavalli Residence Compound, Fifth Settlemen...","Jadie Residence, The 3rd Settlement, New Cairo...",Apartment,592 sqft / 55 sqm,0,1.0,30 Aug 2025,Cash,"200,000 EGP",592.0,sqft,55.0,sqm,1
1987,https://www.propertyfinder.eg/en/plp/buy/apart...,"5,711,505",Studio In Maraya\nBUA: 46\n1 Bedroom\n1Bathroo...,"Bali, Al Gouna, Hurghada, Red Sea",Apartment,495 sqft / 46 sqm,0,1.0,1 Sep 2025,Cash,"2,000,000 EGP",495.0,sqft,46.0,sqm,1
2121,https://www.propertyfinder.eg/en/plp/buy/apart...,"420,000",مشروع قطاميه جيت\n- اللوكيشن علي دائري المعاد...,"Katameya Gate, El Katameya Compounds, El Katam...",Apartment,452 sqft / 42 sqm,0,1.0,13 Aug 2025,Cash,NaN,452.0,sqft,42.0,sqm,1
2641,https://www.propertyfinder.eg/en/plp/buy/hotel...,"13,294,000",for sale hotel apartment panorama Nile view\nb...,"Reve Du Nil, Athar El Nabi, Hay Masr El Kadima...",Hotel Apartment,495 sqft / 46 sqm,0,1.0,31 Aug 2025,Installments,"3,323,500 EGP",495.0,sqft,46.0,sqm,1
3105,https://www.propertyfinder.eg/en/plp/buy/chale...,"8,134,430",Apartment for Sale in Installments at South Me...,"South Med, Qesm Ad Dabaah, North Coast",Chalet,678 sqft / 63 sqm,0,1.0,30 Aug 2025,Installments,"642,235 EGP",678.0,sqft,63.0,sqm,1
3707,https://www.propertyfinder.eg/en/plp/buy/apart...,"6,900,000",ready to move studio at badya semi finished\n9...,"Badya Palm Hills, 6 October Compounds, 6 Octob...",Apartment,"1,012 sqft / 94 sqm",0,1.0,31 Aug 2025,Cash,"104,000 EGP",1012.0,sqft,94.0,sqm,1

In [ ]:
# Remove commas and convert to float
df['price'] = (
    df['price']
    .astype(str)         # ensure all are strings
    .str.replace(',', '', regex=False)  # remove commas
    .str.strip()         # remove spaces
    .replace('', None)   # replace empty strings with None
    .astype(float)       # convert to float
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19924 entries, 0 to 19923
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   url             19924 non-null  object
 1   price           19385 non-null  float64
 2   description     19846 non-null  object
 3   location        19833 non-null  object
 4   type            19847 non-null  object
 5   size            19847 non-null  object
 6   bedrooms        19924 non-null  int64
 7   bathrooms       19779 non-null  float64
 8   available_from  19261 non-null  object
 9   payment_method  19383 non-null  object
 10  down_payment    5445 non-null   object
 11  size_sqft       19847 non-null  float64
 12  unit_sqft       19847 non-null  object
 13  size_sqm        19847 non-null  float64
 14  unit_sqm        19847 non-null  object
 15  mid_room        19924 non-null  int64
dtypes: float64(4), int64(2), object(10)
memory usage: 2.4+ MB